<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin login</title>
</head>
<body>

<h2>Login Form</h2>

<form action="/userAdmin" method="post">
  <div class="imgcontainer">
    <img src="https://img.pngio.com/avatar-female-person-profile-user-website-woman-icon-female-profile-png-512_512.png" alt="Avatar" class="avatar " width="10" 
    height="300">
  </div>

  <div class="container">
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        
    <button type="submit">Login</button>
    
  </div>



</body>
</html>
